<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <link href="/assets/css/main.css" rel="stylesheet"/>
    <link href="/assets/css/bg/BG.css" rel="stylesheet"/>
    <title>CampNavi</title>
</head>

<body>

<th:block th:insert="insert/header.html"></th:block>

<article class="box" id="chatCreateBox">
    <div id="app" class="lengthContain">
        <!--채팅방 이름-->
        <div>
            <input class="createName" placeholder="방 이름을 입력해주세요" type="text" v-model="room_name">
        </div>
        <!--목적-->
        <h3>캠핑 목적</h3>
        <div class="createPurposeDiv">
            <input id="chatPurpose1" name="chatPurpose" type="checkbox" value="같이 놀아요!" v-model="purpose">
            <label for="chatPurpose1">
                <img alt="dance" class="chatPurposeIcon" src="/assets/images/icon/dance.png">
                같이 놀아요!
            </label>
            <input id="chatPurpose2" name="chatPurpose" type="checkbox" value="애완동물과 함께해요!" v-model="purpose">
            <label for="chatPurpose2">
                <img alt="dogwith" class="chatPurposeIcon" src="/assets/images/icon/dogwith.png">
                애완동물과 함께해요!
            </label>
            <input id="chatPurpose3" name="chatPurpose" type="checkbox" value="만남을 원해요!" v-model="purpose">
            <label for="chatPurpose3">
                <img alt="love" class="chatPurposeIcon" src="/assets/images/icon/love.png">
                만남을 원해요!
            </label>
            <input id="chatPurpose4" name="chatPurpose" type="checkbox" value="조용히 쉬어요!" v-model="purpose">
            <label for="chatPurpose4">
                <img alt="campingHuman" class="chatPurposeIcon" src="/assets/images/icon/campingHuman.png">
                조용히 쉬어요!
            </label>
            <input id="chatPurpose5" name="chatPurpose" type="checkbox" value="아이와 함께해요!" v-model="purpose">
            <label for="chatPurpose5">
                <img alt="parent" class="chatPurposeIcon" src="/assets/images/icon/parent.png">
                아이와 함께해요!
            </label>
        </div>
        <!--기간-->
        <h3>캠핑 기간</h3>
        <div class="createDate">
            <input id="chatDateStart" name="chatDateStart" v-model="start_date" type="date">
            <input id="chatDateEnd" name="chatDateEnd" v-model="end_date" type="date">
        </div>
        <!--인원-->
        <h3>캠핑 참여 인원수</h3>
        <div class="createMember">
            <input id="chatPeople" max="10" min="1" name="chatPeople" type="number" v-model="max_mem">
        </div>
        <div class="buttonContain">
            <!--상세보기로 들어온 경우 보이지 않음-->
            <button type="button">캠핑장 검색</button>

            <button @click="createRoom" class="mainBtn" type="button">방 생성</button>
        </div>
    </div>
</article>
<th:block th:insert="insert/footer.html"></th:block>

<!-- JavaScript -->
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            room_name: '',
            chatrooms: [],
            start_date: '',
            end_date: '',
            max_mem: '',
            purpose: []
        },
        created() {
            this.findAllRoom();
        },
        methods: {
            findAllRoom: function () {
                axios.get('/chat/rooms').then(response => {
                    this.chatrooms = response.data;
                });
            },
            createRoom: function () {
                if ("" === this.room_name) {
                    alert("방 제목을 입력해 주십시요.");
                    return;
                } else {
                    var params = new URLSearchParams();
                    params.append("name", this.room_name);
                    params.append("startDate", this.start_date);
                    params.append("endDate", this.end_date);
                    params.append("maxMem", this.max_mem);
                    params.append("purpose", this.purpose);
                    axios.post('/chat/room', params)
                        .then(
                            response => {
                                alert(response.data.name + "방 개설에 성공하였습니다.")
                                this.enterRoom(response.data.roomId);
                            }
                        )
                        .catch(response => {
                            alert("채팅방 개설에 실패하였습니다.");
                        });
                }
            },
            enterRoom: function (roomId) {
                var sender = prompt('대화명을 입력해 주세요.');
                if (sender != "") {
                    localStorage.setItem('wschat.sender', sender);
                    localStorage.setItem('wschat.roomId', roomId);
                    location.href = "/chat/room/enter/" + roomId;
                }
            }
        }
    });

    window.onload = function () {
        var chatDateStart = document.getElementById('chatDateStart');
        var chatDateEnd = document.getElementById('chatDateEnd');

        // 시작 날짜가 변경될 때마다 종료 날짜의 min 속성을 업데이트합니다.
        chatDateStart.addEventListener('change', function () {
            chatDateEnd.min = chatDateStart.value;
        });
    }

    /*chatCampingSearch로 가도록 만듦*/
    document.querySelector('.buttonContain button').addEventListener('click', function () {
        window.open('/chatCampingSearch.html', '_blank', 'width=600,height=600');
    });
</script>

</body>
</html>