<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <link href="/assets/css/main.css" rel="stylesheet"/>
    <link href="/assets/css/bg/BG.css" rel="stylesheet"/>
    <title>CampNavi</title>
</head>

<body>
<article class="box" id="chatBox">
    <button class="close" id="chatExit"><img alt="closeIcon" id="closeImg" src="/assets/images/icon/close.png"></button>
    <div class="container" id="app">
        <div>
            <h2>{{ room.name }}</h2>
        </div>
        <div class="chat-container">
            <ul class="list-group">
                <!-- 채팅 내용 -->
                <li class="list-group-item"
                    v-for="message in messages"
                    :class="{
                        'message-user': message.isOwn && message.type === 'TALK',
                        'message-other': !message.isOwn && message.type === 'TALK',
                        'message-notification': message.type === 'ENTER' || message.type === 'LEAVE'
                    }">
                    <template v-if="message.isOwn || message.type !== 'TALK'">{{ message.message }}</template>
                    <template v-else>{{ message.sender }} - {{ message.message }}</template>
                </li>
            </ul>
        </div>
        <div class="input-group">
            <!-- 메시지 입력란 -->
            <div class="buttonContain">
                <input class="form-control" type="text" v-model="message" v-on:keypress.enter="sendMessage">
                <div class="input-group-append">
                    <button @click="sendMessage" class="btn btn-primary" type="button">보내기</button>
                </div>
            </div>
        </div>
    </div>
</article>
<th:block th:insert="insert/footer.html"></th:block>

<!-- JavaScript -->
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>

<script>
    // WebSocket & Stomp 초기화
    var sock = new SockJS("/ws-stomp");
    var ws = Stomp.over(sock);
    var reconnect = 0;

    // Vue.js
    var vm = new Vue({
        el: '#app',
        data: {
            roomId: '',
            room: {},
            sender: '',
            message: '',
            messages: []
        },
        created() {
            this.roomId = localStorage.getItem('wschat.roomId');
            this.sender = localStorage.getItem('wschat.sender');
            this.findRoom();
            this.loadMessages();
        },
        mounted() {
            this.scrollToBottom();
        },
        methods: {
            findRoom() {
                axios.get('/chat/room/' + this.roomId).then(response => {
                    this.room = response.data;
                });
            },
            loadMessages() {
                axios.get('/chat/room/' + this.roomId + '/messages').then(response => {
                    this.messages = response.data.map(msg => {
                        msg.isOwn = msg.sender === this.sender;
                        if (msg.type === 'ENTER' || msg.type === 'LEAVE') {
                            msg.sender = '[알림]';
                        }
                        return msg;
                    });
                    this.$nextTick(() => {
                        this.scrollToBottom();
                    });
                });
            },
            sendMessage() {
                if (this.message.trim() !== '') {
                    const message = {
                        type: 'TALK',
                        roomId: this.roomId,
                        sender: this.sender,
                        message: this.message
                    };
                    ws.send("/pub/chat/message", {}, JSON.stringify(message));
                    this.message = '';
                }
            },
            recvMessage(recv) {
                recv.isOwn = recv.sender === this.sender;
                if (recv.type === 'ENTER' || recv.type === 'LEAVE') {
                    recv.sender = '[알림]';
                }
                this.messages.push(recv);
                this.$nextTick(() => {
                    this.scrollToBottom();
                });
            },
            scrollToBottom() {
                const container = this.$el.querySelector('.chat-container');
                container.scrollTop = container.scrollHeight;
            }
        }
    });

    function connect() {
        // Pub/Sub 이벤트
        ws.connect({}, function (frame) {
            // 채팅방 구독
            ws.subscribe("/sub/chat/room/" + vm.$data.roomId, function (message) {
                var recv = JSON.parse(message.body);
                vm.recvMessage(recv);
            });

            ws.send("/pub/chat/message", {}, JSON.stringify({type: 'ENTER', roomId: vm.$data.roomId, sender: vm.$data.sender}));
        }, function (error) {
            if (reconnect++ <= 5) {
                setTimeout(function () {
                    console.log("connection reconnect");
                    sock = new SockJS("/ws-stomp");
                    ws = Stomp.over(sock);
                    connect();
                }, 10 * 1000);
            }
        });
    }

    connect();

    document.getElementById('chatExit').addEventListener('click', function () {
        ws.send("/pub/chat/message", {}, JSON.stringify({type: 'LEAVE', roomId: vm.$data.roomId, sender: vm.$data.sender}));
        location.href = "/chat/room";
    });
</script>

</body>
</html>