/*Basic*/

input[type="text"], input[type="password"] {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 25px;
    border-radius: 60px;
    padding: 15px 15px 15px 25px;
}

button {
    background-color: #f9f9f9;
    font-size: 20px;
    border-radius: 40px;
    padding: 15px;
}

button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 마우스를 올렸을 때의 그림자 효과를 설정합니다. */
}

/*loginPage*/

#wrapper {
    position: absolute;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 18%;
}

.content {
    display: flex;
    flex-direction: column;
}

#loginBtn {
    background-color: #E58B33;
    font-size: 25px;
}

#userPw {
    margin-top: 3px;
    margin-bottom: 3px;
}

.buttonContain {
    display: flex;
}

.buttonContain button {
    flex: 1;
}

#logoTypo {
    width: 100%;
}