<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/assets/css/main.css" rel="stylesheet"/>
    <link href="/assets/css/bg/BG.css" rel="stylesheet"/>
    <title>Search</title>
</head>

<body>

<th:block th:insert="insert/header.html"></th:block>

<div id="search-area">
    <div id="search-box">
        <button class="close" id="searchExit" type="button"><img alt="closeIcon" id="closeImg" src="/assets/images/icon/close.png"></button>
        <h1 class="major">검색</h1>
        <div id="searchContain">
            <select name="searchField" id="searchField">
                <th:block th:each="field : ${campRecommendVo.searchFieldArray}">
                    <option th:if="${field[0] == campRecommendVo.searchField}" th:value="${field[0]}" selected>[[${field[1]}]]</option>
                    <option th:unless="${field[0] == campRecommendVo.searchField}" th:value="${field[0]}">[[${field[1]}]]</option>
                </th:block>
            </select>
            <input type="text" id="searchBar" name="searchWord" placeholder="검색어를 입력하세요" spellcheck="false" th:value="${campRecommendVo.searchWord}">
            <button id="searchBtn" type="button" class="mainBtn" onclick="camp_search(); return false;">검색</button>
        </div>
        <div id="searchRequirement">
            <th:block th:each="campType, iterStat : ${campRecommendVo.campTypeArray}">
                <input type="checkbox" name="campType" th:id="${campType[0]}" th:value="${campType[0]}" th:if="${campRecommendVo.campType[iterStat.index] == campType[0]}" checked/>
                <input type="checkbox" name="campType" th:id="${campType[0]}" th:value="${campType[0]}" th:unless="${campRecommendVo.campType[iterStat.index] == campType[0]}"/>
                <label class="checkboxLabel" th:for="${campType[0]}">[[${campType[1]}]]</label>
            </th:block>
        </div>
        <div id="list_area"></div>
        <div class="page-box" id="page_area"></div>
    </div>
    <div class="box" id="contentSearchArea">
        <div id="kakaoMap"></div>
        <button id="search-box-toggle" class="mainBtn">검색하기</button>
    </div>
</div>

<th:block th:insert="insert/footer.html"></th:block>

<script>
    document.getElementById('search-box-toggle').addEventListener('click', function () {
        var searchBox = document.getElementById('search-box');
        if (searchBox.style.display === 'none') {
            searchBox.style.display = 'block';
        } else {
            searchBox.style.display = 'none';
        }
    });

    document.getElementById('searchExit').addEventListener('click', function () {
        document.getElementById('search-box').style.display = 'none';
    });
</script>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0f99991591de7a581b0817b2c20056f0"></script>

<script type="text/javascript">
    var map = null;
    var markers = null;
    var choice = 0;

    // 선택한 마커 이미지 정보
    var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
    var imageSize = new kakao.maps.Size(24, 35);
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);


    $(document).ready(function() {
        reloadList(1, "score", "DESC", true);
    });

    function reloadList(page, sortBy, sortDirection, mapRefresh) {
        $.ajax({
            type: 'POST',
            url: '/camp/reloadList',
            data: {
                page: page,
                sortBy: sortBy,
                sortDirection: sortDirection
            },
            success: function (data) {
                let list = data.campRecommendList;
                let totalPages = data.totalPages;
                let page = data.page;
                let size = data.size;
                let pageMaxDisplay = data.pageMaxDisplay;
                let result = data.result;
                if (result === "success") {
                    if (mapRefresh) {
                        reloadMap();
                    }
                    let HTML = "";
                    HTML += "<table id=\"searchList\"><tr>";
                    HTML += "<th>이름</th><th>지역</th><th>추천점수</th>"

                    /*
                    if (sortBy == "name" && sortDirection == 'ASC') {
                        HTML += "<th><a href=\"\" onclick=\"reloadList(1, 'name', 'DESC', true); return false;\">△이름△</a></th>";
                        HTML += "<th><a href=\"\" onclick=\"reloadList(1, 'addr', 'ASC', true); return false;\">지역</a></th>";
                        HTML += "<th><a href=\"\" onclick=\"reloadList(1, 'score', 'DESC', true); return false;\">추천점수</a></th></tr>";
                    } else if (sortBy == "name" && sortDirection == 'DESC') {
                        HTML += "<th><a href=\"\" onclick=\"reloadList(1, 'name', 'ASC', true); return false;\">▽이름▽</a></th>";
                        HTML += "<th><a href=\"\" onclick=\"reloadList(1, 'addr', 'ASC', true); return false;\">지역</a></th>";
                        HTML += "<th><a href=\"\" onclick=\"reloadList(1, 'score', 'DESC', true); return false;\">추천점수</a></th></tr>";
                    } else if (sortBy == "addr" && sortDirection == 'ASC') {
                        HTML += "<th><a href=\"\" onclick=\"reloadList(1, 'name', 'ASC', true); return false;\">이름</a></th>";
                        HTML += "<th><a href=\"\" onclick=\"reloadList(1, 'addr', 'DESC', true); return false;\">△지역△</a></th>";
                        HTML += "<th><a href=\"\" onclick=\"reloadList(1, 'score', 'DESC', true); return false;\">추천점수</a></th></tr>";
                    } else if (sortBy == "addr" && sortDirection == 'DESC') {
                        HTML += "<th><a href=\"\" onclick=\"reloadList(1, 'name', 'ASC', true); return false;\">이름</a></th>";
                        HTML += "<th><a href=\"\" onclick=\"reloadList(1, 'addr', 'ASC', true); return false;\">▽지역▽</a></th>";
                        HTML += "<th><a href=\"\" onclick=\"reloadList(1, 'score', 'DESC', true); return false;\">추천점수</a></th></tr>";
                    } else if (sortBy == "score" && sortDirection == 'ASC') {
                        HTML += "<th><a href=\"\" onclick=\"reloadList(1, 'name', 'ASC', true); return false;\">이름</a></th>";
                        HTML += "<th><a href=\"\" onclick=\"reloadList(1, 'addr', 'ASC', true); return false;\">지역</a></th>";
                        HTML += "<th><a href=\"\" onclick=\"reloadList(1, 'score', 'DESC', true); return false;\">△추천점수△</a></th></tr>";
                    } else if (sortBy == "score" && sortDirection == 'DESC') {
                        HTML += "<th><a href=\"\" onclick=\"reloadList(1, 'name', 'ASC', true); return false;\">이름</a></th>";
                        HTML += "<th><a href=\"\" onclick=\"reloadList(1, 'addr', 'ASC', true); return false;\">지역</a></th>";
                        HTML += "<th><a href=\"\" onclick=\"reloadList(1, 'score', 'ASC', true); return false;\">▽추천점수▽</a></th></tr>";
                    }
                    */

                    for (let i = (page-1)*size ; i < (page*size < list.length ? page*size : list.length) ; i++) {
                        HTML += "<tr class=\"tableResult\">";
                        HTML += "<td><a href=\"\" onclick=\"move_map(" + i + ", " + list[i].camp.mapX + ", " + list[i].camp.mapY + ")\; return false\;\">" + list[i].camp.name + "</a></td>";
                        HTML += "<td>" + list[i].addressShort + "</td>";

                        let starScore = parseFloat(list[i].scoreView);

                        HTML += "<td><span class=\"satisfaction\" title=\""+starScore+"\" alt=\""+starScore+"\">";
                        if (starScore < 0.5) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-empty.png\">";
                        } else if (starScore < 1.0) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-half.png\">";
                        } else if (starScore >= 1.0) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-full.png\">";
                        }

                        if (starScore < 1.5) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-empty.png\">";
                        } else if (starScore < 2.0) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-half.png\">";
                        } else if (starScore >= 2.0) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-full.png\">";
                        }

                        if (starScore < 2.5) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-empty.png\">";
                        } else if (starScore < 3.0) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-half.png\">";
                        } else if (starScore >= 3.0) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-full.png\">";
                        }

                        if (starScore < 3.5) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-empty.png\">";
                        } else if (starScore < 4.0) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-half.png\">";
                        } else if (starScore >= 4.0) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-full.png\">";
                        }

                        if (starScore < 4.5) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-empty.png\">";
                        } else if (starScore < 5.0) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-half.png\">";
                        } else if (starScore >= 5.0) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-full.png\">";
                        }
                        HTML += "</span></td></tr>";
                    }
                    HTML += "</table>";
                    $("#list_area").html(HTML);




                    // 페이지 번호 요소를 동적으로 생성합니다.
                    let pageHTML = "";
                    if (page == 1) {
                        pageHTML += "<img class=\"icon width-rem1\" src=\"/assets/images/icon/arrowL.png\">";
                    } else {
                        pageHTML += "<a href=\"\" onclick=\"reloadList(" + (page-1) + ", 'score', 'DESC', false); return false;\"><img class=\"icon width-rem1\" src=\"/assets/images/icon/arrowL.png\"></a>";
                    }

                    let start = parseInt((page-1)/pageMaxDisplay)*pageMaxDisplay + 1;
                    let end = start + pageMaxDisplay < totalPages ? start + pageMaxDisplay : totalPages + 1;
                    for (let i = start; i < end; i++) {
                        if (i == page) {
                            pageHTML += "<span class=\"page-num active\">" + i + "</span>";
                        } else {
                            pageHTML += "<a href=\"\" class=\"page-num\">" + i + "</a>";
                        }
                    }
                    if (page == totalPages) {
                        pageHTML += "<img class=\"icon width-rem1\" src=\"/assets/images/icon/arrowR.png\">";
                    } else {
                        pageHTML += "<a href=\"\" onclick=\"reloadList(" + (page+1) + ", 'score', 'DESC', false); return false;\"><img class=\"icon width-rem1\" src=\"/assets/images/icon/arrowR.png\"></a>";
                    }
                    document.getElementById('page_area').innerHTML = pageHTML;

                    // 페이지 번호를 클릭하면 해당 페이지의 내용을 불러오는 함수
                    function handlePageClick(event) {
                        const pageNumber = parseInt(event.target.textContent);
                        reloadList(pageNumber, 'score', 'DESC', false);
                        event.preventDefault();
                    }

                    // 페이지 번호 요소들을 가져옵니다.
                    const pageNumElements = document.querySelectorAll('.page-num');

                    // 각 페이지 번호 요소에 클릭 이벤트 리스너를 추가합니다.
                    pageNumElements.forEach((pageNumElement) => {
                        pageNumElement.addEventListener('click', handlePageClick);
                    });
                }
            },
            error: function () {
                alert("리스트 갱신 실패!");
            }
        });
    }

    function camp_search() {
        let searchField = $("#searchField").val();
        let searchWord = $("#searchBar").val();

        // 체크박스 배열 가져오기
        let campType = [];
        $("input[name='campType']:checked").each(function() {campType.push($(this).val());});

        if (campType.length == 0) {
            alert("캠핑장 유형을 하나 이상 선택해야 합니다.");
            return false;
        }

        $.ajax({
            type: 'POST',
            url: '/camp/re_search',
            dataType: 'json',
            data: {
                searchField: searchField,
                searchWord: searchWord,
                campType: campType
            },
            success: function(data) {
                let page = 1;
                let sortBy = data.campRecommendVo.sortBy;
                let sortDirection = data.campRecommendVo.sortDirection;
                reloadList(page, sortBy, sortDirection, true);
            },
            error: function() {
                alert("검색 실패");
            }
        });
    }

    let searchBox = document.getElementById('searchBar');
    searchBox.addEventListener('keyup', event => press_enter_in_searchBox(event));

    function press_enter_in_searchBox(event) {
        let key = event.key || event.keyCode;
        if (key === 'Enter' || key === 13) {
            camp_search();
        }
    }



    function reloadMap() {
        $.ajax({
            type: 'POST',
            url: '/camp/reloadMap',
            success: function(data) {
                markers = [];
                choice = 0;
                let list = data.campRecommendVo.campRecommendList;
                if (list.length > 0) {
                    // 지도 생성
                    let initX = list[0].camp.mapX;
                    let initY = list[0].camp.mapY;
                    let mapContainer = document.getElementById('kakaoMap'); // 지도를 표시할 div
                        let mapOption = {
                        center: new kakao.maps.LatLng(initY, initX), // 지도의 중심좌표
                        level: 5 // 지도의 확대 레벨
                    };
                    map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

                    // 마커 위치 설정
                    let positions = []
                    for (let i = 0 ; i < list.length ; i++) {
                        let x = list[i].camp.mapX;
                        let y = list[i].camp.mapY;
                        let name = list[i].camp.name;
                        positions.push({title:name, latlng: new kakao.maps.LatLng(y, x), rating: list[i].scoreView});
                    }

                    // 마커 출력
                    for (let i = 0; i < positions.length; i ++) {

                        // 마커를 생성합니다
                        let marker = null;
                        if (i == choice) {
                            marker = new kakao.maps.Marker({
                                map: map, // 마커를 표시할 지도
                                position: positions[i].latlng, // 마커를 표시할 위치
                                image : markerImage // 마커 이미지
                            });
                        } else {
                            marker = new kakao.maps.Marker({
                                map: map, // 마커를 표시할 지도
                                position: positions[i].latlng, // 마커를 표시할 위치
                            });
                        }
                        markers.push(marker);

                        kakao.maps.event.addListener(marker, 'click', function() {
                            location.href="/camp/detail/?mapX="+list[i].camp.mapX+"&mapY="+list[i].camp.mapY+"&contentId="+list[i].camp.contentId+"&cseq="+list[i].camp.cseq;
                        });

                        // 마커에 표시할 인포윈도우를 생성합니다
                        var infowindow = new kakao.maps.InfoWindow({
                            // 인포윈도우에 표시할 내용
                            content: "<div style=\"padding:5px; font-weight:bold; white-space:nowrap;\">" + list[i].camp.name + " (★ : " + list[i].scoreView + ")</div>"
                        });
                        kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
                        kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
                    }
                }
            },
            error: function() {
                alert("지도 갱신 실패!");
            }
        });
    }

    // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
    function makeOverListener(map, marker, infowindow) {
        return function() {
            infowindow.open(map, marker);
        };
    }

    // 인포윈도우를 닫는 클로저를 만드는 함수입니다
    function makeOutListener(infowindow) {
        return function() {
            infowindow.close();
        };
    }

    function move_map(index, mapX, mapY) {
        markers[choice].setImage(null);
        markers[index].setImage(markerImage);
        choice = index;
        let moveLatLon = new kakao.maps.LatLng(mapY, mapX);
        map.panTo(moveLatLon);
    }






</script>
</body>
</html>