<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/assets/css/main.css" rel="stylesheet"/>
    <link href="/assets/css/bg/BG.css" rel="stylesheet"/>
    <title>Search</title>
</head>
<body>
<div id="search-area">
    <div id="search-box">
        <button class="close" id="searchExit" type="button"><img alt="closeIcon" id="closeImg" src="/assets/images/icon/close.png"></button>
        <h1 class="major">검색</h1>
        <div id="searchContain">
            <select name="searchField" id="searchField">
                <th:block th:each="field : ${campRecommendVo.searchFieldArray}">
                    <option th:if="${field[0] == campRecommendVo.searchField}" th:value="${field[0]}" selected>[[${field[1]}]]</option>
                    <option th:unless="${field[0] == campRecommendVo.searchField}" th:value="${field[0]}">[[${field[1]}]]</option>
                </th:block>
            </select>
            <input type="text" id="search" name="searchWord" placeholder="검색어를 입력하세요" th:value="${campRecommendVo.searchWord}" onkeyup="press_enter(); return false;">
            <button id="searchBtn" type="button" class="mainBtn" onclick="camp_search(); return false;">검색</button>
        </div>
        <div id="searchRequirement">
            <th:block th:each="campType, iterStat : ${campRecommendVo.campTypeArray}">
                <input type="checkbox" name="campType" th:id="${campType[0]}" th:value="${campType[0]}" th:if="${campRecommendVo.campType[iterStat.index] == campType[0]}" checked/>
                <input type="checkbox" name="campType" th:id="${campType[0]}" th:value="${campType[0]}" th:unless="${campRecommendVo.campType[iterStat.index] == campType[0]}"/>
                <label class="checkboxLabel" th:for="${campType[0]}">[[${campType[1]}]]</label>
            </th:block>
        </div>
        <div id="list_area"></div>
        <div id="page_area"></div>
    </div>



    <div class="box" id="contentSearchArea">
        <div id="kakaoMap"></div>
        <button id="search-box-toggle" class="mainBtn">검색하기</button>
    </div>
</div>

<th:block th:insert="insert/footer.html"></th:block>

<script>
    document.getElementById('search-box-toggle').addEventListener('click', function () {
        var searchBox = document.getElementById('search-box');
        if (searchBox.style.display === 'none') {
            searchBox.style.display = 'block';
        } else {
            searchBox.style.display = 'none';
        }
    });

    document.getElementById('searchExit').addEventListener('click', function () {
        document.getElementById('search-box').style.display = 'none';
    });
</script>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0f99991591de7a581b0817b2c20056f0"></script>
<script>
    var container = document.getElementById('kakaoMap');
    var options = {
        center: new kakao.maps.LatLng(33.450701, 126.570667),
        level: 3
    };
    var map = new kakao.maps.Map(container, options);
</script>
<script type="text/javascript">
    $(document).ready(function(){
       reloadList(1, "name", "ASC");
    });

    function reloadList(page, sortBy, sortDirection) {
        $.ajax({
            type: 'POST',
            url: '/camp/reloadList',
            data: {
                page: page,
                sortBy: sortBy,
                sortDirection: sortDirection
            },
            success: function (data) {
                let list = data.campRecommendList;
                let totalPages = data.totalPages;
                let page = data.page;
                let size = data.size;
                let pageMaxDisplay = data.pageMaxDisplay;
                let result = data.result;
                if (result === "success") {
                    let HTML = "";
                    HTML += "<table id=\"searchList\"><tr><th>이름</th><th>지역</th><th>평점</th></tr>";

                    for (let i = (page-1)*size ; i < (page*size < list.length ? page*size : list.length) ; i++) {
                        HTML += "<tr class=\"tableResult\">";
                        HTML += "<td>" + list[i].camp.name + "</td>";
                        HTML += "<td>" + list[i].addressShort + "</td>";

                        let starScore = parseFloat(list[i].scoreView);

                        HTML += "<td><span class=\"satisfaction\" title=\""+starScore+"\" alt=\""+starScore+"\">";
                        if (starScore < 0.5) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-empty.png\">";
                        } else if (starScore < 1.0) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-half.png\">";
                        } else if (starScore >= 1.0) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-full.png\">";
                        }

                        if (starScore < 1.5) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-empty.png\">";
                        } else if (starScore < 2.0) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-half.png\">";
                        } else if (starScore >= 2.0) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-full.png\">";
                        }

                        if (starScore < 2.5) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-empty.png\">";
                        } else if (starScore < 3.0) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-half.png\">";
                        } else if (starScore >= 3.0) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-full.png\">";
                        }

                        if (starScore < 3.5) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-empty.png\">";
                        } else if (starScore < 4.0) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-half.png\">";
                        } else if (starScore >= 4.0) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-full.png\">";
                        }

                        if (starScore < 4.5) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-empty.png\">";
                        } else if (starScore < 5.0) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-half.png\">";
                        } else if (starScore >= 5.0) {
                            HTML += "<img class=\"star\" src=\"/assets/images/icon/star-full.png\">";
                        }
                        HTML += "</span></td></tr>";
                    }
                    HTML += "</table>";
                    $("#list_area").html(HTML);

                    HTML = "";
                    if (totalPages !== 0) {
                        HTML = "<div class=\"page_area\">";
                        HTML += "<ul class=\"pagination\">";
                        HTML += "<li class=\"paging\">";
                        if (page == 1) {
                            HTML += "<span aria-hidden=\"true\">First</span>";
                        } else {
                            HTML += "<a href=\"\" onclick=\"reloadList(1, '" + sortBy + "', '" + sortDirection + "')\; return false\;\" aria-label=\"First\">";
                            HTML += "<span aria-hidden=\"true\">First</span></a></li>";
                        }
                        HTML += "&nbsp&nbsp";
                        HTML += "<li class=\"paging\">";
                        if (page == 1) {
                            HTML += "<span aria-hidden=\"true\">\&lt;</span>";
                        } else {
                            HTML += "<a href=\"\" onclick=\"reloadList(" + (page-1) + ", '" + sortBy + "', '" + sortDirection + "')\; return false\;\" aria-label=\"Previous\">";
                            HTML += "<span aria-hidden=\"true\">\&lt;</span></a></li>";
                        }
                        HTML += "&nbsp&nbsp";
                        let start = parseInt((page-1)/size)*size;
                        let end = start + size < totalPages ? start + size : totalPages;
                        for (let i = start ; i < end ; i++) {
                            if (i == page-1) {
                                HTML += "<li class=\"active\" class=\"paging\">";
                                HTML += "<span>"+(i+1)+"</span></li>";
                            } else {
                                HTML += "<li class=\"paging\">";
                                HTML += "<a href=\"\" onclick=\"reloadList(" + (i+1) + ", '" + sortBy + "', '" + sortDirection + "')\; return false\;\">" + (i+1) + "</a></li>";
                            }
                            HTML += "&nbsp&nbsp";
                        }

                        HTML += "<li class=\"paging\">";
                        if (page == totalPages) {
                            HTML += "<span aria-hidden=\"true\">\&gt;</span></li>";
                        } else {
                            HTML += "<a href=\"\" onclick=\"reloadList(" + (page+1) + ", '" + sortBy + "', '" + sortDirection + "')\; return false\;\" aria-label=\"Next\">";
                            HTML += "<span aria-hidden=\"true\">\&gt;</span></a></li>";
                        }
                        HTML += "&nbsp&nbsp";
                        HTML += "<li class=\"paging\">";
                        if (page == totalPages) {
                            HTML += "<span aria-hidden=\"true\">Last</span></li>";
                        } else {
                            HTML += "<a href=\"\" onclick=\"reloadList(" + totalPages + ", '" + sortBy + "', '" + sortDirection + "')\; return false\;\" aria-label=\"Last\">";
                            HTML += "<span aria-hidden=\"true\">Last</span></a></li>";
                        }
                        HTML += "</ul></div>";
                    }
                    $("#page_area").html(HTML);
                }
            },
            error: function () {
                alert("리스트 갱신 실패!");
            }
        });
    }

    function camp_search() {
        let searchField = $("#searchField").val();
        let searchWord = $("#search").val();

        // 체크박스 배열 가져오기
        let campType = [];
        $("input[name='campType']:checked").each(function(i) {campType.push($(this).val());});

        if (campType.length == 0) {
            alert("캠핑장 유형을 하나 이상 선택해야 합니다.");
            return false;
        }

        $.ajax({
            type: 'POST',
            url: '/camp/re_search',
            dataType: 'json',
            data: {
                searchField: searchField,
                searchWord: searchWord,
                campType: campType
            },
            success: function(data) {
                let page = 1;
                let sortBy = data.campRecommendVo.sortBy;
                let sortDirection = data.campRecommendVo.sortDirection;
                let campType = data.campRecommendVo.campType;
                reloadList(page, sortBy, sortDirection);
            },
            error: function() {
                alert("검색 실패");
            },
        });
    }

    function press_enter() {
        let keyValue = window.event.keyCode;
        if (keyValue == 13) {
            camp_search();
        } else {
            return false;
        }
    }
</script>
<style>
    .disabled {
        display: none;
    }

    .active {
        font-weight: 700;
    }

    .page_area {
        margin:0 auto;
    }

    .page_area ul li {
        list-style: none;
        display: inline-block;
    }

</style>

</body>
</html>