<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<meta charset="UTF-8">
<title>Review List</title>


<article id="box">

    <h3><span th:text="${authorList[0].review.member.nickname}"></span>님의 게시글 목록</h3>
    <table>
        <thead>
        <tr>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일시</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reviewVo : ${authorList}">
            <td>
                <div class="review_list">
                    <a th:href="@{'/review/detail/' + ${reviewVo.review.vseq}}"
                       th:text="${reviewVo.review.title + ' ' + '[' + '전체 댓글수 표시' + ']'}"></a><!-- 댓글 수 출력 -->
                </div>
                <input type="hidden" id="vseq"
                       name="vseq" th:value="${reviewVo.review.vseq}"/></td>
            <td th:text="${reviewVo.review.member.username}"></td>
            <td
                    th:text="${#dates.format(reviewVo.review.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${reviewVo.review.count}"></td>
        </tr>


        </tbody>
    </table>

    <h3><span th:text="${authorList[0].review.member.nickname}"></span>님의 댓글 목록</h3>
    <table>
        <thead>
        <tr>
            <th>댓글</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment : ${commentList}">
            <td>
                <div class="review_list">
                    <a th:href="@{'/review/detail/' + ${comment.review.vseq}}" th:text="${comment.content}"></a>
                </div>
            <td th:text="${#dates.format(comment.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>


        </tbody>
    </table>

    <button onclick="window.location.href='/review/insert_form'" class="button">새로운
        글 작성
    </button>
    <button onclick="window.location.href='/review/list'" class="button">리스트로 돌아가기
    </button>

</article>

