    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
        .input-group {
            position: fixed;
        }
        .chat-container {
            overflow-y: auto;
        }
    </style>
</head>
<body>
<div class="container" id="app" v-cloak>
            <h2>{{ room.roomName }}</h2>
        </div>
            <ul class="list-group">
                <!-- 채팅 내용 -->
                </li>
            </ul>
        </div>
        <div class="input-group">
            <!-- 메시지 입력란 -->
            <div class="input-group-prepend">
                <label class="input-group-text">내용</label>
            </div>
            <input type="text" class="form-control" v-model="message" v-on:keypress.enter="sendMessage">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" @click="sendMessage">보내기</button>
        </div>
                </div>
            </div>
<!-- JavaScript -->
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>

<script>
    // WebSocket & Stomp 초기화
    var sock = new SockJS("/ws-stomp");
    var ws = Stomp.over(sock);
    var reconnect = 0;

    // Vue.js
    var vm = new Vue({
        el: '#app',
        data: {
            roomId: '',
            room: {},
            sender: '',
            message: '',
            messages: []
        },
        created() {
            this.roomId = localStorage.getItem('wschat.roomId');
            this.sender = localStorage.getItem('wschat.sender');
            this.findRoom();
            this.loadMessages();
        },
        mounted() {
            this.scrollToBottom();
        },
        methods: {
            findRoom() {
                axios.get('/chat/room/' + this.roomId).then(response => {
                    this.room = response.data;
                });
            },
            loadMessages() {
                axios.get('/chat/room/' + this.roomId + '/messages').then(response => {
                    this.$nextTick(() => {
                        this.scrollToBottom();
                    });
                });
            },
            sendMessage() {
                if (this.message.trim() !== '') {
                        type: 'TALK',
                        roomId: this.roomId,
                        sender: this.sender,
                        message: this.message
                    this.message = '';
                }
            },
            recvMessage(recv) {
                if (recv.type === 'ENTER' || recv.type === 'LEAVE') {
                    this.messages.push({
                        type: recv.type,
                        sender: '[알림]',
                    });
                } else {
                    this.messages.push({
                        type: recv.type,
                        sender: recv.sender,
                        message: recv.message
                    });
                }
                this.$nextTick(() => {
                    this.scrollToBottom();
                });
            },
            scrollToBottom() {
                const container = this.$el.querySelector('.chat-container');
                container.scrollTop = container.scrollHeight;
            }
        }
    });

    function connect() {
        // Pub/Sub 이벤트
        ws.connect({}, function (frame) {
            // 채팅방 구독
            ws.subscribe("/sub/chat/room/" + vm.$data.roomId, function (message) {
                var recv = JSON.parse(message.body);
                vm.recvMessage(recv);
            });

        }, function (error) {
            if (reconnect++ <= 5) {
                setTimeout(function () {
                    console.log("connection reconnect");
                    sock = new SockJS("/ws-stomp");
                    ws = Stomp.over(sock);
                    connect();
                }, 10 * 1000);
            }
        });
    }

    connect();
</script>
</body>
</html>