<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <link href="/assets/css/main.css" rel="stylesheet"/>
    <link href="/assets/css/bg/loginBG.css" rel="stylesheet"/>
    <title>회원가입</title>
</head>
<body>

<a href="/index"><img alt="typo" id="typo" th:src="@{/assets/images/logo/typo.png}"></a>

<div class="box" id="membershipBox">
    <h1 class="major">회원가입</h1>
    <div id="membershipContain">

        <div class="memberContain">
            <input placeholder="아이디" type="text">
            <button type="button">id 중복 확인</button>
        </div>

        <div class="memberContain">
            <div class="buttonContain">
                <input placeholder="비밀번호" type="text">
                <input placeholder="비밀번호 확인" type="text">
            </div>
            <button type="button">비밀번호 중복 확인</button>
        </div>

        <div class="memberContain">
            <input placeholder="이름" type="text">
        </div>

        <div class="memberContain">
            <input placeholder="전화번호" type="text">
            <button type="button">핸드폰 번호 인증</button>
        </div>

        <div class="memberContain">
            <input placeholder="이메일" type="text">
            <button type="button">이메일 인증</button>
        </div>

        <div class="memberContain">
            <input placeholder="주소" type="text">
            <button type="button">주소 검색</button>
        </div>

        <button class="mainBtn" id="Btn100" type="button">회원가입</button>
    </div>
</div>

<th:block th:insert="insert/footer.html"></th:block>
<!--배경사진-->
<div id="bg"></div>

</body>
</html>