<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <link href="/assets/css/main.css" rel="stylesheet"/>
    <link href="/assets/css/bg/loginBG.css" rel="stylesheet"/>
    <title>회원가입</title>
</head>
<body>

    <div id="box">
        <h1 class="major">회원가입</h1>
        <div id="Contain">
            <input placeholder="아이디" type="text">
            <input placeholder="비밀번호" type="text">
            <input placeholder="비밀번호 확인" type="text">
            <input placeholder="이름" type="text">
            <input placeholder="전화번호" type="text">
            <input placeholder="이메일" type="text">
            <input placeholder="주소" type="text">
            <button class="searchBtn" type="button">회원가입</button>
        </div>


</div>

<th:block th:insert="insert/footer.html"></th:block>
<!--배경사진-->
<div id="bg"></div>

</body>
</html>