<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <link href="/assets/css/main.css" rel="stylesheet"/>
    <link href="/assets/css/bg/mainBG.css" rel="stylesheet"/>
    <title>CampNavi</title>
</head>
<!--<script th:inline="javascript">
    /*<![CDATA[*/
    var message = /*[[${msg}]]*/ '';
    if (message != null) {
        alert(message);
    }
    /*]]>*/
</script>-->
<body>
<th:block th:insert="insert/header.html"></th:block>

<div class="box centerBox" id="myPageContainer">
    <div class="myPageSpace">
        <div class="myPageUserIdImg">
            <div>
                <!--프로필 사진-->
                <div class="box" id="profileImg">
                    <div class="myPageProPicture" id="myPageProPicture">
                        <form id="uploadForm">
                        <input id="backURL" th:value="${img != null ? img : ''}" type="hidden">
                        <input id="img" type="hidden">
                        <input hidden="hidden" id="myPagePictureUploadInput" type="file">
                        <img alt="수정아이콘" class="correctionImg" id="correctionImg" src="/assets/images/icon/pen.png">
                        </form>
                    </div>
                </div>
            </div>

            <div id="memberNickNameRead"><h1 th:text="${member.nickname}"></h1></div>
            <div class="buttonContain" id="memberNickNameChange">
                <input class="myPageInput" id="nickname" name="nickname" th:value="${member.nickname}" type="text"/>
                <input id="originNickname" th:value="${member.nickname}" type="hidden">
                <input id="hiddenNickname" type="hidden">
                <button class="myPageBtn mainBtn" onclick="validateNickname()" type="button">닉네임 중복 확인</button>
            </div>
            <div class="buttonContain" id="myPageDetailContain">
                <input checked class="detailBtn" id="myPageInfoBtn" name="btn" type="radio">
                <label for="myPageInfoBtn">내 정보</label>
                <input class="detailBtn" id="myPageReviewBtn" name="btn" type="radio">
                <label for="myPageReviewBtn">내가 남긴 후기</label>
                <input class="detailBtn" id="myPageSaveBtn" name="btn" type="radio">
                <label for="myPageSaveBtn">찜한 목록 보기</label>
                <input class="detailBtn" id="qna" name="btn" type="radio">
                <label for="qna">고객문의</label>
            </div>
        </div>
        <!--내 정보-->
        <div class="myPageArea" id="myPageInfo">
            <form action="/member/mypage/edit/detail" id="editMypageForm" method="post">
                <div class="myPageBox">
                    <h3 class="myPage-info-title">기본정보</h3>
                    <hr>
                    <div class="myPageTitle">아이디</div>
                    <div th:text="${member.username.length() > 17 ? member.username.substring(0, 18) + '...' : member.username}"></div>
                    <hr>
                    <div class="myPageTitle">이름</div>
                    <div th:text="${member.name}"></div>
                    <hr>
                    <div class="myPageTitle">성별</div>
                    <div id="memberSexRead"
                         th:text="${member.sex == 'm' ? '남' : (member.sex == 'f' ? '여' : '성별을 입력해주세요.')}"></div>
                    <div id="memberSexChange">
                        남<input checked id="male" name="sex" th:value="m" type="radio"/>
                        여<input id="female" name="sex" th:value="f" type="radio"/>
                    </div>
                    <hr>
                    <div class="myPageTitle">생년월일</div>
                    <div id="memberBirthRead" th:text="${member.birth}"></div>
                    <hr>
                </div>

                <div class="myPageBox">
                    <h3 class="myPage-info-title">연락처</h3>
                    <hr>
                    <div class="myPageTitle">전화번호</div>
                    <div id="memberPhoneRead" th:text="${member.phone != null ? member.phone : '전화번호를 입력해주세요.'}"></div>
                    <div id="memberPhoneChange">
                        <select  type="tel" class="webkit" name="phone" id="phone">
                            <option value="">선택</option>
                            <option value="010">010</option>
                            <option value="02">02) 서울</option>
                            <option value="031">031) 경기</option>
                            <option value="032">032) 인천</option>
                            <option value="033">033) 강원</option>
                            <option value="041">041) 충남</option>
                            <option value="042">042) 대전</option>
                            <option value="043">043) 충북</option>
                            <option value="051">051) 부산</option>
                            <option value="052">052) 울산</option>
                            <option value="053">053) 대구</option>
                            <option value="054">054) 경북</option>
                            <option value="055">055) 경남</option>
                            <option value="061">061) 전남</option>
                            <option value="062">062) 광주</option>
                            <option value="063">063) 전북</option>
                            <option value="064">064) 제주</option>
                        </select>
                        <input th:value="${member.phone != null ? member.phone : ''}" type="text" class="myPageInput" name="phone2" id="phone2">
                    </div>
                    <hr>
                    <div class="myPageTitle">이메일</div>
                    <div>[[${member.email}]]</div>
                    <hr>
                </div>

                <div class="myPageBox">
                    <h3 class="myPage-info-title">주소</h3>
                    <hr>
                    <div class="myPageTitle">도로명주소</div>
                    <div id="memberAddr1Read" th:text="${member.addr1 != null ? member.addr1 : '도로명주소를 입력해주세요.'}"></div>
                    <div id="memberAddr1Change">
                        <input class="myPageInput" id="addr1" name="addr1" readonly
                               th:value="${member.addr1 != null ? member.addr1 : ''}" type="text"/>
                        <button class="myPageBtn mainBtn" onclick="searchAddress()" type="button">주소 검색</button>
                    </div>
                    <hr>
                    <div class="myPageTitle">상세주소</div>
                    <div id="memberAddr2Read" th:text="${member.addr2 != null ? member.addr2 : ' '}"></div>
                    <div id="memberAddr2Change">
                        <input class="myPageInput" id="addr2" name="addr2"
                               th:value="${member.addr2 != null ? member.addr2 : ''}" type="text"/>
                    </div>
                    <hr>
                </div>
            </form>

            <div class="myPageBox">
                <h3 class="myPage-info-title">SNS 로그인 여부</h3>
                <hr>
                <div th:text="${member.provider != 'campingnavi' ? member.provider : '홈페이지'}"></div>
            </div>
        </div>

        <!--내가 남긴 후기-->
        <div class="myPageArea" id="myPageReview">
            <div class="myPageBox">
                <!-- 리뷰 목록 나오는 페이지 -->
                <div>
                    <div id="review_area"></div>
                    <!-- 페이징 처리 시작 -->
                    <div class="page-box">
                        <img class="icon width-rem1" id="prevBtn2" src="/assets/images/icon/arrowL.png"/>
                        <div id="review_page-area"></div>
                        <img class="icon width-rem1" id="nextBtn2" src="/assets/images/icon/arrowR.png"/>
                        <input type="hidden" id="hiddenTotal2">
                    </div>
                    <!-- 페이징 처리 끝 -->
                    <!--
                    <h3>리뷰 제목 좀 길어지면 어떻게 보이는지 확인하는 부분 어떻게 보이려나</h3>
                    <p>리뷰 요약 내용 (1줄 혹은 2줄)</p>
                    <p>리뷰 날짜</p>
                </div>
            </div>
            <div class="myPageBox">
                <div>
                    <h3>리뷰 제목</h3>
                    <p>리뷰 요약 내용</p>
                    <p>리뷰 날짜</p>
                    -->
                </div>
            </div>
        </div>


        <!--찜 목록-->
        <div class="myPageArea" id="myPageSave">
            <div class="myPageBox">
                <!--찜 목록 나오는 페이지-->
                <div>
                    <div id="list_area"></div>
                    <!-- 페이징 처리 시작 -->
                    <div class="page-box">
                        <img class="icon width-rem1" id="prevBtn" src="/assets/images/icon/arrowL.png"/>
                        <div id="page_area"></div>
                        <img class="icon width-rem1" id="nextBtn" src="/assets/images/icon/arrowR.png"/>
                        <input type="hidden" id="hiddenTotal">
                    </div>
                    <!-- 페이징 처리 끝 -->
                </div>
            </div>
        </div>

        <!-- 문의 -->
        <div class="myPageArea" id="myPageQna">
            <div class="myPageBox">
                <!--찜 목록 나오는 페이지-->
                <div>
                    <div id="qna-area"></div>
                    <!-- 페이징 처리 시작 -->
                    <div class="page-box">
                        <img class="icon width-rem1" id="prevBtn_QNA" src="/assets/images/icon/arrowL.png"/>
                        <div id="page-area-QNA"></div>
                        <img class="icon width-rem1" id="nextBtn_QNA" src="/assets/images/icon/arrowR.png"/>
                        <input type="hidden" id="hiddenTotal_QNA">
                    </div>
                    <!-- 페이징 처리 끝 -->
                </div>
            </div>
        </div>


    </div>
    <div class="buttonContain">
        <button class="mainBtn" id="myPageChange" type="button">수정하기</button>
        <button class="mainBtn" id="myPageRead" type="button">수정완료</button>
        <button onclick="goBack()" type="button">뒤로가기</button>
    </div>
</div>


<footer id="footer">
    <p class="copyright">&copy; Team Navigation. </p>
</footer>

<script>
    $(document).ready(function () {
        document.getElementById('myPageProPicture').style.display = 'none';
        var img = $("#backURL").val();
        if (img != null) {
            document.getElementById('profileImg').style.backgroundImage = img;
        }
    })

    // 리뷰 페이징
    $(document).ready(function () {
        function reviewList(page2) {
            $.ajax({
                type: 'GET',
                url: '/member/mypage/review',
                data: {
                    page : page2,
                    size : 3
                },
                success: function (data) {
                    var reviewArea = $("#review_area");
                    reviewArea.empty();
                    var reviews = data.content;
                    reviews.forEach(function (review) {
                        var titleLen = review.title.length;
                        if (titleLen <= 6) {
                            reviewArea.append('<h3>제목: ' + review.title + '</h3>');
                        } else {
                            reviewArea.append('<h3>제목: ' + review.title.substring(0, 6) + '...</h3>');
                        }
                        reviewArea.append('<a class="myPageSaveLink" href="/review/detail/'+ review.vseq +'">리뷰평점: ' + review.likes + '</a><br>')
                        var campLen = review.camp.name.length;
                        if (campLen <= 6) {
                            reviewArea.append('<a class="myPageSavaLink" href="/camp/detail/?mapX='+ review.camp.mapX + '&mapY=' + review.camp.mapY + '&contentId=' + review.camp.contentId + '&cseq=' + review.camp.cseq + '">' + review.camp.name + '</a><br>');
                        } else {
                            reviewArea.append('<a class="myPageSavaLink" href="/camp/detail/?mapX='+ review.camp.mapX + '&mapY=' + review.camp.mapY + '&contentId=' + review.camp.contentId + '&cseq=' + review.camp.cseq + '">' + review.camp.name.substring(0, 6) + '...</a><br>');
                        }
                        var contentLen = review.content.length;
                        if (contentLen <= 20) {
                            reviewArea.append('<p>' + review.content + '</p>');
                        } else {
                            reviewArea.append('<p>' + review.content.substring(0, 20) + '...</p>');
                        }
                        var formattedDate = moment(review.createdAt).format('YYYY-MM-DD HH:mm:ss');
                        reviewArea.append('<p>' + formattedDate + '</p>');
                    });

                    var pagination2 = $("#review_page-area");
                    pagination2.empty();
                    var totalPages2 = data.page.totalPages;
                    $("#hiddenTotal2").val(totalPages2);
                    var visiblePages2 = 3; // 표시할 페이지 버튼 수
                    var startPage2 = Math.max(0, Math.min(page2 - Math.floor(visiblePages2 / 2), totalPages2 - visiblePages2));
                    var endPage2 = Math.min(totalPages2, startPage2 + visiblePages2);

                    // 페이지 버튼
                    for (var i = startPage2; i < endPage2; i++) {
                        pagination2.append('<span style="cursor: pointer;" class="page-num" id="review-page" data-page="' + i + '">' + (i + 1) + '</span>');
                    }

                    currentPage2 = page2;
                }
            });
        }

        $(document).on('click', '#review-page', function () {
            var page2 = $(this).data('page');
            reviewList(page2);
        });

        $('#prevBtn2').click(function () {
            if (currentPage2 > 0) {
                reviewList(currentPage2 - 1);
            }
        });

        $('#nextBtn2').click(function () {
            if (currentPage2 < $('#hiddenTotal2').val() -1) {
                reviewList(currentPage2 + 1);
            }
        });

        reviewList(0);
    });

    // 찜목록 페이징
    $(document).ready(function () {
        function reloadList(page) {
            $.ajax({
                type: 'GET',
                url: '/member/mypage/paging',
                data: {
                    page: page,
                    size: 5
                },
                success: function (data) {
                    var listArea = $("#list_area");
                    listArea.empty();
                    var list = data.content;
                    list.forEach(function (recommend) {
                        listArea.append('<div>');
                        listArea.append('<div class="buttonContain">');
                        listArea.append('<h3 class="myPageSaveTitle">' + recommend.camp.name + '</h3>');
                        listArea.append('<a class="myPageSavaLink" href="/camp/detail/?mapX='+ recommend.camp.mapX + '&mapY=' + recommend.camp.mapY + '&contentId=' + recommend.camp.contentId + '&cseq=' + recommend.camp.cseq + '">상세보기</a>');
                        listArea.append('</div>');
                        listArea.append('<hr>');
                        listArea.append('</div>');
                    });

                    var pagination = $("#page_area");
                    pagination.empty();
                    var totalPages = data.page.totalPages;
                    $("#hiddenTotal").val(totalPages);
                    var visiblePages = 3; // 표시할 페이지 버튼 수
                    var startPage = Math.max(0, Math.min(page - Math.floor(visiblePages / 2), totalPages - visiblePages));
                    var endPage = Math.min(totalPages, startPage + visiblePages);

                    // 페이지 버튼
                    for (var i = startPage; i < endPage; i++) {
                        pagination.append('<span style="cursor: pointer;" class="page-num" data-page="' + i + '">' + (i + 1) + '</span>');
                    }

                    currentPage = page;
                }
            });
        }

        $(document).on('click', '.page-btn', function () {
            var page = $(this).data('page');
            reloadList(page);
        });

        $('#prevBtn').click(function () {
            if (currentPage > 0) {
                reloadList(currentPage - 1);
            }
        });

        $('#nextBtn').click(function () {
            if (currentPage < $('#hiddenTotal').val() -1) {
                reloadList(currentPage + 1);
            }
        });

        reloadList(0);
    });

    // qna 페이징
    $(document).ready(function () {
        function qnaList(page_QNA) {
            $.ajax({
                type: 'GET',
                url: '/member/mypage/qna',
                data: {
                    page : page_QNA,
                    size : 3
                },
                success: function (data) {
                    var qnaArea = $("#qna-area");
                    qnaArea.empty();
                    var qnas = data.content;
                    qnas.forEach(function (qna) {
                        var titleLen = qna.title.length;
                        if (titleLen <= 6) {
                            qnaArea.append('<a class="myPageSaveLink" href="/qna/oneByone/detail/'+ qna.qseq +'"><h3>제목: ' + qna.title + '</h3></a>');
                        } else {
                            qnaArea.append('<a class="myPageSaveLink" href="/qna/oneByone/detail/'+ qna.qseq +'"><h3>제목: ' + qna.title.substring(0, 6) + '...</h3></a>');
                        }

                        var contentLen = qna.content.length;
                        if (contentLen <= 20) {
                            qnaArea.append('<p>' + qna.content + '</p>');
                        } else {
                            qnaArea.append('<p>' + qna.content.substring(0, 20) + '...</p>');
                        }
                        var formattedDate = moment(qna.createdAt).format('YYYY-MM-DD HH:mm:ss');
                        qnaArea.append('<p>' + formattedDate + '</p><hr>');
                    });

                    var pagination_QNA = $("#page-area-QNA");
                    pagination_QNA.empty();
                    var totalPages_QNA = data.page.totalPages;
                    $("#hiddenTotal_QNA").val(totalPages_QNA);
                    var visiblePages_QNA = 3; // 표시할 페이지 버튼 수
                    var startPage_QNA = Math.max(0, Math.min(page_QNA - Math.floor(visiblePages_QNA / 2), totalPages_QNA - visiblePages_QNA));
                    var endPage_QNA = Math.min(totalPages_QNA, startPage_QNA + visiblePages_QNA);

                    // 페이지 버튼
                    for (var i = startPage_QNA; i < endPage-QNA; i++) {
                        pagination_QNA.append('<span style="cursor: pointer;" class="page-num" id="qna-page" data-page="' + i + '">' + (i + 1) + '</span>');
                    }

                    currentPage2 = page2;
                }
            });
        }

        $(document).on('click', '#qna-page', function () {
            var page_QNA = $(this).data('page');
            qnaList(page_QNA);
        });

        $('#prevBtn_QNA').click(function () {
            if (currentPage_QNA > 0) {
                qnaList(currentPage_QNA - 1);
            }
        });

        $('#nextBtn_QNA').click(function () {
            if (currentPage_QNA < $('#hiddenTotal_QNA').val() -1) {
                qnaList(currentPage_QNA + 1);
            }
        });

        qnaList(0);
    });

    window.onload = function () {
        // 각 버튼과 내용 요소를 가져옵니다.
        var myPageInfoBtn = document.getElementById('myPageInfoBtn');
        var myPageReviewBtn = document.getElementById('myPageReviewBtn');
        var myPageSaveBtn = document.getElementById('myPageSaveBtn');
        var qnaBtn = document.getElementById('qna')

        var myPageInfo = document.getElementById('myPageInfo');
        var myPageReview = document.getElementById('myPageReview');
        var myPageSave = document.getElementById('myPageSave');
        var myPageQna = document.getElementById('myPageQna');

        // myPageInfoBtn을 클릭하면 myPageInfo를 보이게 하고, 나머지는 숨깁니다.
        myPageInfoBtn.addEventListener('click', function () {
            myPageInfo.style.display = 'block';
            myPageReview.style.display = 'none';
            myPageSave.style.display = 'none';
            myPageQna.style.display = 'none';
        });

        // myPageReviewBtn을 클릭하면 myPageReview를 보이게 하고, 나머지는 숨깁니다.
        myPageReviewBtn.addEventListener('click', function () {
            myPageInfo.style.display = 'none';
            myPageReview.style.display = 'block';
            myPageSave.style.display = 'none';
            myPageQna.style.display = 'none';
        });

        // myPageSaveBtn을 클릭하면 myPageSave를 보이게 하고, 나머지는 숨깁니다.
        myPageSaveBtn.addEventListener('click', function () {
            myPageInfo.style.display = 'none';
            myPageReview.style.display = 'none';
            myPageQna.style.display = 'none';
            myPageSave.style.display = 'block';
        });

        // qnaBtn을 클릭하면 myPgaeQna를 보이게 하고, 나머지는 숨깁니다.
        qnaBtn.addEventListener('click', function () {
            myPageInfo.style.display = 'none';
            myPageReview.style.display = 'none';
            myPageSave.style.display = 'none';
            myPageQna.style.display = 'block';
        })
    }
</script>

<script th:inline="javascript">
    function validateNickname() {
        var nickname = $("#nickname").val();

        $.ajax({
            type: 'POST',
            url: '/member/validateNickname',
            data: {
                nickname: nickname
            },
            success: function (data) {
                var result = data.result;
                if (result === "success") {
                    $("#hiddenNickname").val(nickname);
                    alert("사용 가능한 닉네임 입니다.")
                    $('#myPageRead').prop('disabled', false);
                } else {
                    alert("이미 존재하는 닉네임 입니다.")
                    $('#myPageRead').prop('disabled', true);
                    $("#nickname").focus()
                }

            },
            error: function (error) {
                alert("전송 실패")
            }
        })
    }

    function searchAddress() {
        var postcodePopup = new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if (data.buildingName !== '' && data.apartment === 'Y') {
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if (extraRoadAddr !== '') {
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById("addr1").value = roadAddr;
                setTimeout(function () {
                    postcodePopup.close();
                }, 0);
            }
        });
        postcodePopup.open();

    }

    function goBack() {
        history.go(-1);
    }

    document.getElementById('myPageChange').addEventListener('click', function () {
        // Change가 붙은 요소들을 block으로 설정
        document.getElementById('memberSexChange').style.display = 'block';
        document.getElementById('memberBirthChange').style.display = 'block';
        document.getElementById('memberPhoneChange').style.display = 'block';
        document.getElementById('memberAddr1Change').style.display = 'block';
        document.getElementById('memberAddr2Change').style.display = 'block';
        document.getElementById('memberNickNameChange').style.display = 'block';
        document.getElementById('myPageRead').style.display = 'block';
        document.getElementById('myPageProPicture').style.display = 'flex';

        // Read가 붙은 요소들을 none으로 설정
        document.getElementById('memberSexRead').style.display = 'none';
        document.getElementById('memberBirthRead').style.display = 'none';
        document.getElementById('memberPhoneRead').style.display = 'none';
        document.getElementById('memberAddr1Read').style.display = 'none';
        document.getElementById('memberAddr2Read').style.display = 'none';
        document.getElementById('memberNickNameRead').style.display = 'none';
        document.getElementById('myPageChange').style.display = 'none';
    });

    document.getElementById('myPageRead').addEventListener('click', function () {
        var nickname = $("#nickname").val();
        var birth = $("#birth").val();
        var phone = $("#phone").val();
        var phone2 = $("#phone2").val();
        var addr1 = $("#addr1").val();
        var addr2 = $("#addr2").val();
        var img = $("#backURL").val();
        var formData = new FormData();
        formData.append('nickname', nickname);
        formData.append('birth', birth);
        formData.append('phone', phone);
        formData.append('phone2', phone2);
        formData.append('addr1', addr1);
        formData.append('addr2', addr2);
        var fileInput = $('#myPagePictureUploadInput')[0];
        if (fileInput.files.length > 0) {
            formData.append('file', fileInput.files[0]);
        }

        const getValue = () => {
            let curr_value;
            const radioValue = document.getElementsByName("sex");
            radioValue.forEach((radio) => {
                if (radio.checked) {
                    curr_value = radio.defaultValue;
                }
            });
            return curr_value;
        };

        formData.append('img', img);
        formData.append('sex', getValue());


        if (nickname == "") {
            alert("사이트에서 사용할 닉네임을 입력해주세요!");
            $("#nickname").focus()
        } else if (nickname != $("#originNickname").val() && nickname != $("#hiddenNickname").val()) {
            alert("닉네임 중복확인을 진행해주세요!");
            $("#nickname").focus();
        } else if (birth == "" || birth == "n") {
            alert("생일을 입력해주세요!");
            $("#birth").focus()
        } else if (phone == "" || phone == "n") {
            alert("전화번호를 입력해주세요!");
            $("#phone").focus()
        } else if (phone2 == "" || phone2 == "n") {
            alert("전화번호를 입력해주세요!");
            $("#phone2").focus()
        } else if (addr1 == "" || addr1 == "n") {
            alert("도로명주소를 입력해주세요!");
            $("#addr1").focus()
        } else if (addr2.length < 2) {
            alert("상세주소를 입력해주세요!");
            $("#addr2").focus();
        } else {
            $.ajax({
                url: "/member/mypage/edit/detail",
                method: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    document.getElementById('memberAddr2Read').textContent = response.addr2;
                    document.getElementById('memberSexRead').textContent = response.sex;
                    document.getElementById('memberAddr1Read').textContent = response.addr1;
                    document.getElementById('memberNickNameRead').textContent = response.nickname;
                    document.getElementById('memberPhoneRead').textContent = response.phone + response.phone2;
                    document.getElementById('memberBirthRead').textContent = response.birth;
                    document.getElementById('profileImg').style.backgroundImage = img;

                    // Change가 붙은 요소들을 block으로 설정
                    document.getElementById('memberSexChange').style.display = 'none';
                    document.getElementById('memberBirthChange').style.display = 'none';
                    document.getElementById('memberPhoneChange').style.display = 'none';
                    document.getElementById('memberAddr1Change').style.display = 'none';
                    document.getElementById('memberAddr2Change').style.display = 'none';
                    document.getElementById('memberNickNameChange').style.display = 'none';
                    document.getElementById('myPageRead').style.display = 'none';
                    document.getElementById('myPageProPicture').style.display = 'none';

                    // Read가 붙은 요소들을 none으로 설정
                    document.getElementById('memberSexRead').style.display = 'block';
                    document.getElementById('memberBirthRead').style.display = 'block';
                    document.getElementById('memberPhoneRead').style.display = 'block';
                    document.getElementById('memberAddr1Read').style.display = 'block';
                    document.getElementById('memberAddr2Read').style.display = 'block';
                    document.getElementById('memberNickNameRead').style.display = 'block';
                    document.getElementById('myPageChange').style.display = 'block';
                    alert("수정완료");
                },
                error: function (error) {
                    alert("데이터 전송 실패");
                    console.log("error:" + error);
                }
            })
        }
    });

    document.getElementById('myPagePictureUploadInput').addEventListener('change', function (e) {
        var file = e.target.files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            document.getElementById('profileImg').style.backgroundImage = 'url("' + reader.result + '")';
            $("#backURL").val('url("' + reader.result + '")');
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            document.getElementById('profileImg').style.backgroundImage = '';
        }

    });

    document.getElementById('correctionImg').addEventListener('click', function () {
        document.getElementById('myPagePictureUploadInput').click();
    });
</script>

<div id="bg"></div>
</body>
</html>