<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/assets/css/main.css" rel="stylesheet"/>
    <link href="/assets/css/bg/mainBG.css" rel="stylesheet"/>
    <title>CampNavi</title>
</head>
<body>
<th:block th:insert="insert/header.html"></th:block>

<div class="box centerBox" id="myPageContainer">
    <form action="/member/search/username" method="post">
        이름 : <input type="text" name="name">
        이메일 : <input type="text" name="email">
        생년월일 : <input type="date" name="birth">
        전화번호 : <input type="tel" name="phone">
        로그인 유형 : <select name="provider">
        <option value="">선택</option>
        <option value="campingnavi">캠핑내비</option>
        <option value="google">구글</option>
        <option value="naver">네이버</option>
        <option value="kakao">카카오</option>
        <option value="facebook">페이스북</option>
    </select>
        <button type="submit">전송</button>
    </form>
    <input type="hidden" id="username" th:value="${username}" th:if="${username != null}">
</div>
<div id="bg"></div>
<script>
    var username = $("#username").val();
    if (username != null) {
        alert("찾으시는 아이디는 " + username + " 입니다.");
    }
</script>
</body>
</html>