<!-- 댓글 영역 -->
<div class="container">
    <form id="commentForm" name="commentForm" method="post">
        <br> <br>
        <div>
            <div>
                <span><h3>comments</h3></span> <span id="Cnt"></span>
            </div>
        </div>
        <input type="hidden" id="vseq" name="vseq" th:value="${reviewVo.review.vseq}"/>
    </form>
</div>
<div class="container">
    <form id="commentListForm" name="commentListForm" method="get">

        <div id="commentList">
            <!--  댓글 출력 영역 -->
        </div>
    </form>


    <!-- 페이지 처리 영역 -->
    <div>
        <ul id="pagination">
        </ul>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function () {
	getCommentsAndCurrentMember();
});

    // getCommentsAndCurrentMember 함수 정의
    function getCommentsAndCurrentMember() {
        var vseq = $("#vseq").val(); // vseq 값을 가져오기

        $.ajax({
            type: 'GET',
            url: '/admin/review/comment/list',
            dataType: 'json',
            data: {vseq: vseq},
            success: function (data) {
                var loginMember = data.currentMember;
                var commentCount = data.commentCount;
                var parentCommentCmseqArray = data.parentCommentCmseqArray;
                var parentCommentMseqArray = data.parentCommentMseqArray;
                var parentCommentMemberArray = data.parentCommentMemberArray;
                var parentCommentContentArray = data.parentCommentContentArray;
                var parentCommentDateArray = data.parentCommentDateArray;
                var childCommentCmseqArray = data.childCommentCmseqArray;
                var childCommentMseqArray = data.childCommentMseqArray;
                var childCommentMemberArray = data.childCommentMemberArray;
                var childCommentContentArray = data.childCommentContentArray;
                var childCommentDateArray = data.childCommentDateArray;

                // 가져온 댓글 목록과 사용자 정보를 이용하여 화면에 표시
                showHTML(loginMember, vseq, commentCount, parentCommentCmseqArray, parentCommentMseqArray, parentCommentMemberArray, parentCommentContentArray, parentCommentDateArray, childCommentCmseqArray, childCommentMseqArray, childCommentMemberArray, childCommentContentArray, childCommentDateArray);

            },
            error: function () {
                alert("댓글 목록을 조회하지 못했습니다.");
            }
        });

    }

// 대댓글 폼 토글 함수
function toggleReplyForm(cmseq, vseq) {
    $("#replyForm_" + cmseq + "_" + vseq).toggle(); // 대댓글 폼 토글
}

function showHTML(loginMember, vseq, commentCount, parentCommentCmseqArray, parentCommentMseqArray, parentCommentMemberArray, parentCommentContentArray, parentCommentDateArray, childCommentCmseqArray, childCommentMseqArray, childCommentMemberArray, childCommentContentArray, childCommentDateArray) {
    var html = "";
    if (parentCommentCmseqArray.length > 0) {
        for (let i = 0 ; i < parentCommentCmseqArray.length ; i++) {
        	// 부모 댓글 섹션
        	html += "<div id=\"parent_comment_" + parentCommentCmseqArray[i] + "\">"; // 각 부모 댓글에 대해 고유한 id 부여
            html += "<strong>작성자: " + parentCommentMemberArray[i] + "</strong>&nbsp;&nbsp;&nbsp; ";
            html += "<span id=\"write_date\"> 작성일: " + displayTime(parentCommentDateArray[i]) + "</span><br>";
            html += parentCommentContentArray[i];

         	// 각 부모 댓글에 대한 답글 작성 버튼	
            html += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='#' onclick=\"toggleReplyForm(" + parentCommentCmseqArray[i] + ", " + vseq + "); return false\">답글 작성</a>";
            html += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='#' onclick=\"deleteComment(" + parentCommentCmseqArray[i] + "," + loginMember + "); return false\" class='button' id='commentsDel'>삭제</a>";

         	// 자식 댓글 섹션
            if (childCommentCmseqArray[i].length > 0) {
            	for (let j = 0 ; j < childCommentCmseqArray[i].length ; j++) {
            		html += "<div id=\"child_comment_" + childCommentCmseqArray[i][j] + "\">"; // 각 자식 댓글에 대해 고유한 id 부여
            		html += "&nbsp;&nbsp;&nbsp;&nbsp;<strong>작성자: " + childCommentMemberArray[i][j] + "</strong>&nbsp;&nbsp;&nbsp; ";
                    html += "&nbsp;&nbsp;&nbsp;&nbsp;<span id=\"write_date\"> 작성일: " + displayTime(childCommentDateArray[i][j]) + "</span><br>";
                    html += "&nbsp;&nbsp;&nbsp;&nbsp;<span>"+ childCommentContentArray[i][j] +"</span>";
                    html += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='#' onclick=\"deleteComment(" + childCommentCmseqArray[i][j] + "," + loginMember + "); return false\" class='button' id='commentsDel'>삭제</a>";

                    html += "<br></div>";
            	}
            }
        }
    } else {
        html += "<div>";
        html += "<h3>등록된 댓글이 없습니다.</h3>";
        html += "</div>";
    }

    $("#Cnt").html("댓글 " + "<span style='color;#00f;'>" + commentCount + "</span>");
    $("#commentList").html(html); /* 브라우저에 출력 */
}



/*
 ** 입력 파라미터:
 **     timeValue - 상품평 등록 시간
 */
    function displayTime(timeValue) {
        var today = new Date();

        // timeValue를 Date객체로 변환
        var dateObj = new Date(timeValue);

        console.log("timeValue=" + timeValue);
        console.log("dateObj=" + dateObj);

        var timeGap = today.getTime() - dateObj.getTime();

        // 오늘 작성된 것은 작성시각으로, 그 외는 작성일자로 표시
        if (dateObj.getFullYear() == today.getFullYear() && dateObj.getMonth() == today.getMonth() && dateObj.getDate() == today.getDate()) {
            // timeGap이 24시간 이내인지 판단
            //if (timeGap < (1000 * 60 * 60 * 24)) {  // 시, 분, 초를 구함
            var hh = dateObj.getHours();
            var mi = dateObj.getMinutes();
            var ss = dateObj.getSeconds();
            console.log("hh=" + hh);
            console.log("mi=" + mi);
            console.log("ss=" + ss);

            //return hh + ':' + mi + ':' + ss;
            return [(hh > 9 ? '' : '0') + hh, ':', (mi > 9 ? '' : '0') + mi, ':',
                (ss > 9 ? '' : '0') + ss].join('');
        } else {
            var yy = dateObj.getFullYear();
            var mm = dateObj.getMonth() + 1;
            var dd = dateObj.getDate();

            //return yy + "-" + mm + "-" + dd;
            return [yy, '/', (mm > 9 ? '' : '0') + mm, '/', (dd > 9 ? '' : '0') + dd].join('');
        }

  }

function deleteComment(cmseq) {
    if (confirm("댓글을 삭제하시겠습니까?")) {
        $.ajax({
            type: 'POST',
            url: '/admin/review/comment/delete',
            dataType: 'json',
            data: {
                cmseq: cmseq,

            },
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            success: function (data) {
                if (data.result == 'success') {
                    getCommentsAndCurrentMember(); // 댓글 목록 새로고침
                } else {
                    alert("댓글 삭제에 실패했습니다.");
                }
            },
            error: function (request, status, error) {
                alert("댓글 삭제 중 오류가 발생했습니다.");
            }
        });
    }
}



</script>