<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <link href="/assets/css/main.css" rel="stylesheet"/>
    <link href="/assets/css/bg/loginBG.css" rel="stylesheet"/>
    <title>로그인 페이지</title>
</head>
<body>
<img src="/assets/images/logo/mark.png" id="logoMark">
<div id="wrapper">
    <img src="/assets/images/logo/typo.png" id="logoTypo">
    <div class="content">
        <input id="userId" type="text" placeholder="아이디">
        <input id="userPw" type="password" placeholder="비밀번호">
        <button id="loginBtn">로그인</button>
    </div>

    <div class="buttonContain" id="loginGroup">
        <button id="registerBtn">회원가입</button>
        <button id="adminBtn">관리자</button>
    </div>

</div>
<!--배경사진-->
<div id="bg"></div>


</body>
</html>