<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <link href="/assets/css/main.css" rel="stylesheet"/>
    <link href="/assets/css/bg/BG.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>CampNavi</title>
</head>

<body>
<article class="box" id="review-detail-box">
    <div class="container">
        <h2 class="mb-4" th:text="${qna.type == 'FAQ' ? 'FAQ' : '1:1 문의'}"></h2>
        <hr class="vertical">
        <div class="card webkit">
            <div class="card-header">
                <h3 th:text="${qna.title}">제목</h3>
            </div>
            <hr>
            <div class="card-body">
                <div class="info">
                    <div class="space-between">
                        <div class="space-between-flex">
                            작성자: <span
                                th:text="${qna.member.name}">작성자명</span>

                        </div>
                        <div class="space-between-flex">
                            작성일시: <span
                                th:text="${qna.createdAt}">날짜시간</span>
                        </div>
                    </div>
                    <hr>
                </div>
                <div id="img-area">
                    <img id="img" class="campAreaImg" th:src="@{/assets/qnaImages/} + ${qna.image}" th:if="${qna.image != null}">
                    <input type="hidden" th:value="${qna.image != null ? 'y' : 'n'}" id="imgCheck">
                </div>
                <div id="none-img-area">
                    <p class="campAreaImg">이미지가 없습니다.</p>
                </div>
                <hr>

                <p class="content" id="content" th:text="${qna.content}"></p>


                <hr>
                <div class="buttonContain button-full">
                    <!-- 작성자만 수정 및 삭제 버튼을 볼 수 있도록 -->
                    <a class="webkit"
                       th:href="@{/qna/detail/edit/} + ${qna.qseq}" th:if="${qna.member.mseq == member.mseq}">
                        <button class="webkit" >수정하기</button>
                    </a>
                    <!-- 목록으로 돌아가기 -->
                    <a class="button webkit" href="/qna/home">
                        <button class="webkit">목록보기</button>
                    </a>
                    <a class="webkit"
                          th:href="@{/qna/detail/delete/} + ${qna.qseq}" th:if="${member.mseq == qna.member.mseq}">
                        <button class="webkit mainBtn" type="button">삭제하기</button>
                    </a>
                    <a class="webkit"
                       th:href="@{/qna/reply/write/} + ${qna.qseq}" th:if="${member.role != 'ROLE_USER'}" id="replyBtn">
                        <button class="webkit mainBtn" type="button">답변하기</button>
                    </a>
                </div>
                <hr>
            </div>
            <div id="reply-area"></div>
            <div class="page-box">
                <img class="icon width-rem1" id="prevBtn" src="/assets/images/icon/arrowL.png">
                <div id="pagination" class="page-numbers"></div>
                <img class="icon width-rem1" id="nextBtn" src="/assets/images/icon/arrowR.png">
            </div>
            <hr>
        </div>
    </div>

</article>
<input type="hidden" id="userRole" th:value="${member.role}">
<input type="hidden" id="qseq" th:value="${qna.qseq}">
<script>
    var userRole = $("#userRole").val();
    if (userRole != "ROLE_USER") {
        $("#replyBtn").show();
    } else {
        $("#replyBtn").hide();
    }

    $(document).ready(function () {
        var isImg = $("#imgCheck").val();
        if (istImg == 'y') {
            $("#img-area").show();
            $("#img").show();
            $("#none-img-area").hide();
        } else {
            $("#img-area").hide();
            $("#img").hide();
            $("#none-img-area").show();
        }
    });
</script>
<script>
    $(document).ready(function () {
        function replyList(page) {
            $.ajax({
                type: 'GET',
                url: '/qna/reply/paging',
                data: {
                    page : page,
                    size : 3,
                    sort : 'createdAt,desc',
                    qseq : $("#qseq").val()
                },
                success: function (data) {
                    var replyArea = $("#reply-area");
                    replyArea.empty();
                    var replys = data.content;
                    var index = 1;
                    replyArea.append('<table>');
                    replyArea.append('<tr>');
                    replyArea.append('<th>번호</th>');
                    replyArea.append('<th>내용</th>');
                    replyArea.append('<th>작성일자</th>');
                    replyArea.append('<th colspan="3">작성자</th>');
                    replyArea.append('</tr>');

                    if(replys.length < 1) {
                        replyArea.append('<tr><td>답변을 등록해주세요.</td></tr>');
                    } else {
                        replys.forEach(function (reply) {
                            replyArea.append('<tr>');
                            replyArea.append('<td>' + index++ + '</td>');
                            replyArea.append('<td><span>' + reply.content + '</span></td>');
                            replyArea.append('<td>' + reply.createdAt + '</td>');
                            replyArea.append('<td>' + reply.member.name + '</td>');
                            replyArea.append('<td><button type="button" onclick="editReply()">수정하기</button> </td>');
                            replyArea.append('<td><button type="button" onclick="deleteReply()">삭제하기</td>');
                            replyArea.append('</tr>');
                            replyArea.append('<tr><td><img src="/assets/replyImages/' + reply.img + '"></td></tr>');
                            replyArea.append('</table>');
                            replyArea.append('<input type="hidden" id="reply_id" value="' + reply.reply_id + '"/>');
                        });
                    }
                    var pagination = $("#pagination");
                    pagination.empty();
                    var totalPages = data.page.totalPages;
                    $("#hiddenTotal").val(totalPages);
                    var visiblePages = 5;
                    var startPage = Math.max(0, Math.min(page - Math.floor(visiblePages / 2), totalPages - visiblePages));
                    var endPage = Math.min(totalPages, startPage + visiblePages);

                    for (var i = startPage; i < endPage; i++) {
                        pagination.append('<button class="page-btn" id="page" data-page="' + i + '">' + (i + 1) + '</button>');
                    }

                    currentPage = page;
                }
            });
        }
        $(document).on('click', '#page', function () {
            var page = $(this).data('page');
            replyList(page);
        });

        $('#prevBtn').click(function () {
            if (currentPage > 0) {
                replyList(currentPage - 1);
            }
        });

        $('#nextBtn').click(function () {
            if (currentPage < $('#hiddenTotal').val() -1) {
                replyList(currentPage + 1);
            }
        });

        replyList(0);
    });
</script>
<script>
    function editReply() {
        if ($("#userRole").val() != "ROLE_SUPERVISOR") {
            alert($("#userRole").val());
            alert("권한이 없습니다.");
        } else {
            var reply_id = $("#reply_id").val();
            location.href = "/qna/reply/edit/" + reply_id;
        }
    }

    function deleteReply() {
        if ($("#userRole").val() != "ROLE_SUPERVISOR") {
            alert($("#userRole").val());
            alert("권한이 없습니다.");
        } else {
            var reply_id = $("#reply_id").val();
            location.href = "/qna/reply/delete/" + reply_id;
        }
    }
</script>
<th:block th:insert="/insert/footer"></th:block>
</body>
</html>
