<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <link href="/assets/css/main.css" rel="stylesheet"/>
    <link href="/assets/css/bg/BG.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>CampNavi</title>
</head>

<body>
<article class="box centerBox" id="review-detail-box">
    <div class="container">
        <h2 class="mb-4" th:text="${qna.type == 'FAQ' ? 'FAQ' : '1:1 문의'}"></h2>
        <hr class="vertical">
        <div class="card webkit">
            <form action="/qna/reply/answer" method="post" enctype="multipart/form-data" id="replyForm">
            <div class="card-header">
                제목: <span th:text="${qna.title}"></span>
                <input type="hidden" name="qseq" th:value="${qna.qseq}">
            </div>
            <hr>
            <div class="card-body">
                <div class="info">
                    <div class="space-between">
                        <div class="space-between-flex">
                            작성자: <span
                                th:text="${qna.member.name}">작성자명</span>

                        </div>
                        <div class="space-between-flex">
                            작성일시: <span
                                th:text="${qna.createdAt}">날짜시간</span>
                        </div>
                    </div>
                    <div>
                        <img class="campAreaImg" th:src="@{/assets/qnaImages/} + ${qna.image}" th:if="${qna.image != null}">
                        <p class="campAreaImg" th:unless="${qna.image != null}">이미지가 없습니다.</p>
                    </div>
                    <hr>
                </div>

                <span th:text="${qna.content}"></span>
                <hr>
                <textarea class="qna-content" id="content" name="content"></textarea>
                <hr>
                <input type="file" name="img">
                <hr>
                <div class="buttonContain button-full">
                    <!-- 작성자만 수정 및 삭제 버튼을 볼 수 있도록 -->
                    <button class="webkit" type="button" onclick="writeReply()">작성완료</button>

                    <!-- 목록으로 돌아가기 -->
                    <button type="button" class="webkit" onclick="backToDetail()">뒤로가기</button>
                </div>

                <hr>
            </div>
                <input type="hidden" id="username" name="mseq" th:value="${member.mseq}">
                <input type="hidden" id="qseq" name="qseq" th:value="${qna.qseq}">
            </form>
        </div>
    </div>

</article>
<th:block th:insert="/insert/footer"></th:block>
<script>

    function writeReply() {
        if ($("#content").val() == "") {
            alert("답변을 작성해주세요.");
            $("#content").focus();
        } else {
            $("#replyForm").attr('action', '/qna/reply/answer').submit();
        }
    }

    function backToDetail() {
        history.go(-1);
    }
</script>
</body>
</html>
